.homeText > img {
    text-align: center;
    position: absolute;
    width: 55vh;
    left: 50%;
    transform: translate(-50%, 0);
    top:125px;
}

.text {
    text-align: center;
    font-size: 9vh;
    color: rgb(104, 104, 201);
    font-weight: 900;
}